#!/bin/bash

alias empty_commit='git commit --allow-empty -m "Trigger Build"'
alias p='cd ~/projects'
alias c='clear'
alias s='cd $HOME/study'
alias cs='cd ~/code_snippets'
alias tn='tmux new'
alias h="cd ${HOME}"

#git specific aliases
alias ggopen='gh repo view --web'
alias ggpulls='gh pr view --web'

# dotfile management specific alias
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias ccpush='config push origin main'

# productivity
alias gcal='open -n -a "Google Chrome" --args "https://calendar.google.com/calendar/"'
alias pomo='termdown 25m && echo "pomdoro over"'
