alias empty_commit='git commit --allow-empty -m "Trigger Build"'
alias p='cd ~/projects'
alias c='clear'
alias cs='cd ~/code_snippets'
alias tn='tmux new'
alias h="cd ${HOME}"

# dotfile management specific alias
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
